@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}

body {
  margin: 0;
  background: #000;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(/cover.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity, 0.5s -webkit-filter, 0.5s filter;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
body:hover video {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}
.stopfade {
   opacity: .5;
}

.container {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

#banner {
  color: white;
  text-align: center;
  flex: 1;
  align-self: center;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
#input input {
  margin-left: 4px;
  opacity: 0.2;
  transition: 0.4s linear opacity;
}
#input input:hover,
#input input:active {
  opacity: 0.7;
}
#input #name {
  width: 100px;
  height: 20px;
  text-align: right;
  flex-grow: 0;
}
#input #message {
  flex-grow: 1;
  height: 20px;
  text-align: left;
}

#messages {
  overflow: hidden;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  bottom: 40px;
  height: calc(100vh - 40px);
  max-height: calc(100vh - 40px);
}
#messages .marquee {
  position: absolute;
  color: #fff;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  left: 100%;
  font-size: 20pt;
}

h1 {
  font-size: 32vw;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  font-family: sans-serif;
  opacity: 0.55;
  transition: 1s opacity;
}
body:hover h1 {
  opacity: 0.85;
}

@media screen and (max-device-width: 800px) {
  body {
    background: url(/cover.jpg) #000 no-repeat;
    background-size: cover;
  }
  #bgvid, #input {
    display: none;
  }
}
