body {
  margin: 0;
  background: #000;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(/cover.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#banner {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 240pt;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  font-family: sans-serif;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(/cover.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
